.mv-universal-player {
  position: relative;
}

.mv-universal-player .custom-tooltip {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 12px;
  z-index: 9999 !important;
  font-family: 'Sharp Grotesk Cyr Medium 20';
  pointer-events: none;
  white-space: nowrap;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 6px;
}
